<div>
    <small>16 de Novembro de 2023</small>
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique...
    </p>

    <small>15 de Novembro de 2023</small>
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique...
    </p>
</div>
