@model List<Game>

<div>
    <h2>Jogos da NBA</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="filter">
                        <form method="get" action="/Home/Index">
                            <label for="selectedDate">Escolha uma data:</label>
                            <input type="date" id="selectedDate" name="selectedDate">
                            <input type="submit" class="btn btn-dark" value="Filtrar jogos">
                        </form>
                    </div>
                </th>
                <th>Time da Casa</th>
                <th>Time Visitante</th>
                <th>Placar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var game in Model)
                {
                    <tr>
                        <td>@game.date.ToShortDateString()</td>
                        <td>@game.home_team.full_name</td>
                        <td>@game.visitor_team.full_name</td>
                        <td>@(game.home_team_score + " - " + game.visitor_team_score)</td>
                    </tr>
                }
            }
            else
            {
                <p>Não há jogos hoje.</p>
            }
        </tbody>
    </table>

</div>
