@{
    ViewData["Title"] = "Página Inicial -";
}

<style>
    .card {
        height: 360px;
        background-color: black;
        /* Defina a altura desejada para o card */
    }

    .card .img-fluid {
        height: 60%;
        /* Defina a altura desejada para a imagem dentro do card */
        object-fit: cover;
        /* Isso faz com que a imagem cubra todo o espaço disponível, mantendo a proporção */
    }

    .card-title {
        color: white;
        text-align: center;
    }
</style>

<div class="container mt-4">
    <h1 class="text-center mb-4">Bem-vindo ao BasketBallInfo!</h1>
    <div class="row">
        <h4 class="text-center mb-4">Destaques da semana</h4>
        <div class="col-md-4 mb-4">
            <div class="card card-zoom card-link">
                <a href="https://www.youtube.com/watch?v=85nBQ_AoRwk" target="_blank" class="memory">
                    <img src="/images/Kobe.jpg" alt="Kobe Bryant" class="img-fluid img-zoom">
                    <div class="card-body">
                        <h5 class="card-title">Kobe Bryant 5th Championship</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-zoom card-link">
                <a href="https://www.youtube.com/watch?v=Tp7VyzrbYpM" target="_blank" class="memory">
                    <img src="/images/MichaelAndKobe.jpg" alt="Michael Jordan" class="img-fluid img-zoom">
                    <div class="card-body">
                        <h5 class="card-title">Kobe Bryant vs Michael Jordan Highlights</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-zoom card-link">
                <a href="https://www.youtube.com/watch?v=rN17J-KMWnY" target="_blank" class="memory">
                    <img src="/images/LebronJamesMiami.jpg" alt="Lebron" class="img-fluid img-zoom">
                    <div class="card-body">
                        <h5 class="card-title">LeBron James GREATEST Game EVER?</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
