@model List<Teams>

<style>
    .conference-east {
        width: 100%;
        display: inline-block;
    }

    .conference-west {
        width: 100%;
        display: inline-block;
    }
</style>

<div class="container mt-4 mx-auto text-center">
    <h2>Times da NBA</h2>

    <div style="width: 50%; float: left;">
        <h3>Conferência Leste</h3>
        <ul>
            @foreach (var team in Model.Where(t => t.conference.ToLower() == "east"))
            {
                <li class="conference-east">
                    @team.full_name.Trim() - @team.abbreviation
                </li>
            }
        </ul>
    </div>

    <div style="width: 50%; float: right;">
        <h3>Conferência Oeste</h3>
        <ul>
            @foreach (var team in Model.Where(t => t.conference.ToLower() == "west"))
            {
                <li class="conference-west">
                    @team.full_name.Trim() - @team.abbreviation
                </li>
            }
        </ul>
    </div>
</div>
