:root {
  --bg-primary: #121215;
  --title-primary-color: #F5F5F5;
  --title-secondary-color: #A13939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  background-color: var(--bg-primary);
  color: var(--title-primary-color);
}

tbody {
  color: var(--title-primary-color);
}

h2 {
  color: var(--title-secondary-color);
}

th {
  color: var(--title-primary-color);
}


