/* _content/BasketballInfo/Views/Shared/_Layout.cshtml.rz.scp.css */
.navbar[b-v2vdk6ex7g] {
  background-color: #000000; /* Cor de fundo da barra de navegação */
}

.navbar-brand[b-v2vdk6ex7g] {
  color: #A13939; /* Cor do texto do logo */
}

.navbar-nav .nav-link[b-v2vdk6ex7g] {
  color: #ffffff; /* Cor do texto dos links na barra de navegação */
}

.navbar-nav .nav-link:hover[b-v2vdk6ex7g] {
  color: #A13939; /* Cor do texto dos links ao passar o mouse */
}

.border-top[b-v2vdk6ex7g] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-v2vdk6ex7g] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-v2vdk6ex7g] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-v2vdk6ex7g] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-v2vdk6ex7g] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
